# Virtual environments
.venv/
venv/
__pycache__/

# Editor files
.vscode/
.idea/

# Exclude backup training data
models/training datasets/BACKUP/

# Exclude specific test script
src/test/testing.py

# OS / system files
.DS_Store
Thumbs.db

# Logs / junk
*.log
*.tmp
