# Virtual environments
.venv/
venv/
__pycache__/

# Editor files
.vscode/
.idea/

# Datasets
BACKUP/
Balloon-1/
*.dataset.txt
*.roboflow.txt

# OS / system files
.DS_Store
Thumbs.db

# Logs / junk
*.log
*.tmp
